/* Стиль для просроченных задач */
.task-deadline.overdue {
    color: #dc3545; /* Красный цвет */
    font-weight: bold;
}

/* Стиль для оставшегося времени */
.task-deadline {
    font-size: 12px;
    color: #6c757d; /* Серый цвет текста */
    margin-left: 10px;
    white-space: nowrap;
}