<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
    <link rel="stylesheet" type="text/css" href="{% static 'settings_app/css/main_page.css' %}">

</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{ title }}</h1>
            <button class="logout-button" onclick="location.href='{% url 'authorization:profile' %}'">Выйти</button>
        </div>

        <form method="post" action="{% url 'settings_app:save_settings' %}">
            {% csrf_token %}
            <div class="form-group">
                <input
                        type="checkbox"
                       id="WarnOnTaskDelete"
                       name="warn_on_task_delete"
                       {% if user_settings.warn_on_task_delete %}checked{% endif %}
                >
                <label class="form-check-label" for="WarnOnTaskDelete">Предупреждать при удалении задачи</label>

                <input type="hidden" id="element_id" name="element_id" value="{{ user_settings.id }}">
            </div>

            <button type="submit" class="save-button">Сохранить</button>
        </form>
    </div>
</body>
</html>