<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="user-id" content="{{ request.user.id }}">
    <title>Issue Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/main_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/modal_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/delete_section_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/toggle_section_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/task_deadline.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/buttons_for_main_content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/section_content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/task_content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/favorite_buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/filter_buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/date-picker.css' %}">

    <!-- Подключение Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <div class="container">
        <!-- Шапка -->
        <div class="header">
            <h1>Добро пожаловать, {{ user.username }}!</h1>
            <div class="buttons-container">
                <button class="filter-button-main">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </button>
                <button class="logout-button" onclick="location.href='{% url 'authorization:profile' %}'">Выйти</button>
            </div>
        </div>

        <div class="filters">
            <button class="filter-btn active" data-filter="all">Все задачи</button>
            <button class="filter-btn" data-filter="active">Активные</button>
            <button class="filter-btn" data-filter="completed">Выполненные</button>
            <button class="filter-btn" data-filter="important">Важные</button>
        </div>

        <!-- Кнопки добавления задачи и секции -->
        <button class="add-button" id="openAddTaskModalButton">Добавить задачу</button>
        <button class="add-button" id="openCreateSectionModalButton">Создать новый раздел</button>

        <!-- Вывод списка задач -->
        {% include 'task_list.html' %}

        <!-- Модальные окна -->
        {% include 'modals.html' %}

        <!-- Формы -->
        {% include 'forms.html' %}
    </div>

    <!-- Передача настроек пользователя в JavaScript -->
    <div id="userSettings"
         data-show-warn-on-task-delete="{{ user_settings.warn_on_task_delete }}"
         data-show-warn-on-task-section-delete="{{ user_settings.warn_on_task_section_delete }}"
    ></div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="{% static 'issue_tracker/js/scripts.js' %}"></script>
    <script src="{% static 'issue_tracker/js/script_for_processing_overdue.js' %}"></script>
    <script src="{% static 'issue_tracker/js/filtration_processing.js' %}"></script>
    <script src="{% static 'issue_tracker/js/click_on_btn_complete.js' %}"></script>
    <script src="{% static 'issue_tracker/js/date-picker.js' %}"></script>
</body>
</html>