<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Issue Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/main_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/modal_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/delete_section_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/toggle_section_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/task_deadline.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/buttons_for_main_content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/section_content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/task_content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/css/favorite_btn.css' %}">

</head>
<body>
    <div class="container">
        <!-- Шапка -->
        <div class="header">
            <h1>Добро пожаловать, {{ user.username }}!</h1>
            <button class="logout-button" onclick="location.href='{% url 'authorization:profile' %}'">Выйти</button>
        </div>

        <!-- Кнопки добавления задачи и секции -->
        <button class="add-button" id="openAddTaskModalButton">Добавить задачу</button>
        <button class="add-button" id="openCreateSectionModalButton">Создать новый раздел</button>

        <!-- Вывод списка задач -->
        {% include 'task_list.html' %}

        <!-- Модальные окна -->
        {% include 'modals.html' %}

        <!-- Формы -->
        {% include 'forms.html' %}
    </div>

    <!-- Передача настроек пользователя в JavaScript -->
    <div id="userSettings"
         data-show-warn-on-task-delete="{{ user_settings.warn_on_task_delete }}"
         data-show-warn-on-task-section-delete="{{ user_settings.warn_on_task_section_delete }}"
    ></div>

    <script src="{% static 'issue_tracker/js/scripts.js' %}"></script>
    <script src="{% static 'issue_tracker/js/script_for_processing_overdue.js' %}"></script>
</body>
</html>