<!-- Раздел с задачами -->
{% for section in sections %}
<div class="section" data-section-id="{{ section.id }}">
    <div class="section-header">
        <h2>{{ section.title }}</h2>

        <div class="section-actions">
            <button class="toggle-section-btn"></button>
            <button class="delete-section-btn" data-section-id="{{ section.id }}"></button>
        </div>
    </div>
    <hr>
    <!-- Задачи в секции -->
    <div class="tasks-container">
        {% for task in section.task_set.all %}
        <div class="task-row" data-task-id="{{ task.id }}">
            <div class="task-content">
                <button class="favorite-btn" data-task-id="{{ task.id }}">
                    <div class="inner-star {% if task.is_important %}important{% endif %}"></div>
                </button>
                <span>{{ task.title }}</span>
                {% if task.deadline_date or task.deadline_time %}
                    <span class="task-deadline" data-deadline="{{ task.get_deadline|date:'c' }}">
                        До: {{ task.deadline_date|date:"d.m.Y" }} {% if task.deadline_time %}{{ task.deadline_time|time:"H:i" }}{% endif %}
                    </span>
                {% else %}
                    <span class="task-deadline">Срок не установлен</span>
                {% endif %}
            </div>
            <div class="task-actions">
                 <button class="complete-btn {% if task.is_completed %}completed{% endif %}" data-task-id="{{ task.id }}">
                     {% if task.is_completed %}
                        Выполнено
                     {% else %}
                        Выполнить
                     {% endif %}
                 </button>
                <button class="delete-btn" data-task-id="{{ task.id }}">Удалить</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}